body {
    font-family:"Arial";
    margin:0px;
    font-size: 18px;
}

.dark {
    color: #C0C0C0;
    background-color: #000000;
}

.light {
    color: #000000;
    background-color: #FFFFFF;
}

.content-dark {
    background-color: #505050;
}

.content-dark .text-content {
    background-color: #303030;
}

.content-dark .media-content {
    background-color: #202020;
}

.content-light {
    background-color: #D0D0D0;
}

.content-light .text-content {
    background-color: #E0E0E0;
}

.content-light .media-content {
    background-color: #E8E8E8;
}

.button {
    font-size: 25px;
    padding: 10px;
}

.dark .button, .dark .bigbutton {
    background-color: #505050;
    color: #C0C0C0;
}

.light .button, .light .bigbutton {
    background-color: #E0E0E0;
}

.bigbutton {
    border-radius: 20px;
    text-align: center;
    font-size: 36px;
    padding: 10px 15px;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

.homebutton {
    float: left;
    position: fixed;
    top: 0px;
    /* left: 0px; */
    background-color: #404040;
    border-bottom-right-radius: 20px;
    font-size: 25px;
    padding: 10px;
    padding-right:15px;
}


.theme-select {
    float: right;
    position: sticky;
    display: block;
    border: none;
    top: 0px;
    padding-left: 15px;
    border-bottom-left-radius: 20px;
}


.navbar {
    width: 100%;
    overflow: absolute;
    top: 0px;
    left: 0px;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #202020;
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.startimage {
    width:100%;
    margin-bottom: -5px;
}

.text {
    padding-bottom: 20px;
}

.rubrik {
    text-align: center;
    font-size: 32pt;
    margin: 0;
    padding: 20px 0px;
}

.rubrik2 {
    text-align: center;
    font-size: 24pt;
    margin: 0px;
    padding: 10px 0px;
}

.container {
    /* margin-left: 20%; */
    /* margin-right: 20%; */
    width: 1150px;
    margin: 0 auto;
}

.navigation-blocks {
    margin: 0 auto;
    width: 1300px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    padding: 0px;
    margin-bottom: 20px;
}

.navigation-blocks-2 {
    margin: 0 15%;
    display: grid;
    grid-template-columns: 12.5% 30% 30%;
    column-gap: 5%;
    padding: 0px;
    margin-bottom: 20px;
}

.navigation-blocks div{
    text-align: center;
}

.nav-block {
    border-radius: 15px;
    padding: 0px;
    margin:0px;
}

.nb-dark {
    background-color: #202020;
}

.nb-light {
    background-color: #E0E0E0;
}

.nav-block-image {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nav-block-text {
    padding: 10px;
    margin: 0px;
}

a {
    text-decoration: none;
    display: block;
    color:inherit;
}

.content-holder {
    /* background-color: #505050; */
    padding-bottom: 20px;
    margin: 0% 15%;
    padding: 20px;
    padding-top: 0px;
    margin-top: -0px;
    border-radius: 15px;
}

.content-holder h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;    
}

.bottom {
    float:bottom;
    margin-top:50px;
    height: 400px;
    background-color:#303030;
    padding: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.media-content iframe{
    width: 100%;
    height: 400px;
    margin-bottom: -5px;
}

.media-content img{
    width: 100%;
}
/* 
.media-content {
    background-color: #202020;
} */
.text-content {
    /* background-color: #303030; */
    padding: 10px;
}

.gone {
    display: none;
}


.imgtext {
    margin: 25px 12.5%;
    font-size: 12pt;
}

.imgtext img {
    width: 100%;
    
}

h1 p {
    color: #FF0000
}