html {
    background-color: #000000;
}

body {
    font-family:"Arial";
    margin:0px;
    font-size: 18px;
    color: #C0C0C0;
}

.homebutton {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #404040;
    border-bottom-right-radius: 20px;
    

}

.homebutton p {
    padding: 10px;
    padding-right: 15px;
    margin: 0;
    font-size: 20px;
}

.navbar {
    width: 100%;
    overflow: absolute;
    top: 0px;
    left: 0px;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #202020;
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.startimage {
    width:100%;
    margin-bottom: 20px;
}


/* .test { test för att sätta text ovanpå bild 
    color:#00FFFF;
    text-align: center;
    font-size:100px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0px;
    margin: 0px;
} */


.text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rubrik {
    text-align: center;
    font-size: 40px;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

.navigation-blocks {
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    padding: 0px;
    margin-bottom: 20px;
}

.navigation-blocks div{
    text-align: center;
}

.nav-block {
    background-color:#202020;   
    border-radius: 15px;
    padding: 0px;
    margin:0px;
}


.nav-block-image {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

a {
    text-decoration: none;
    display: block;
    color:inherit;
}

/* a:visited {
    color: inherit;
}
a: */

.nav-block-text {
    padding: 10px;
    margin: 0px;
}

.test2 {
    margin: 0px;
}

.bottom {
    float:bottom;
    margin-top:50px;
    height: 400px;
    background-color:#303030;
    padding: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 0% 20%;
}

.video, .text {
    background-color: #FFFFFF;
}

.video iframe{
    width: 100%;
    height: 400px;
}
