<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Grundläggande principer och webbpubliceringssystem</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/style.css">
    </head>  
    <body class="dark">

        <img src="/assets/PrinciperMain.png" class="startimage">


        <button onclick="changeTheme()" class="button theme-select dark nb-dark">
            Byt Tema
        </button>
    
        
        <h1 class="rubrik"> Grundläggande Principer bakom webben </h1>

        <div class="container text">
            Internet fungerar genom användning av paket och protokoll. Architekturen som används på internet kallas TCP/IP. Det fungerar genom att dela upp allting i paket och sedan skicka iväg alla. Alla datorer har en IP-adress som är ett sätt att säga var någonstans en dator befinner sig. De två vanliga protokollen är TCP och UDP; där UDP är snabbare och TCP är säkrare. 

            <div class="imgtext"> 
                <img src="/assets/PacketsTecknad.png">
                Bildlig förklaring över hur paket fungerar.
            </div>

            Det innebär att UDP lämpar sig mer för exempelvis datorspel medan TCP är bättre för normal användning då man kan garantera att man inte saknar någonting. 
            <br> <br>
            En annan teknik som televerken föredrog var X.25, där gick alla signaler genom en central punkt, det innebär att de kunde se vilka som använde internet och ta betalt för det. X.25 är däremot en väldigt säker teknik, innan någonting skickas vidare så kontrolleras innehållet för att se till så att det blir korrekt. Det negativa med det var att det blev väldigt långsamt.

            <div class="imgtext">
                <img src="/assets/X25_Modem.jpg">
                X.25 modem.
            </div>

            X.25 används däremot än idag, men i stort sett bara inom kortterminaler där man måste vara säker på att ingenting blir fel genom hela processen.
            <br>
        </div>

        <h1 class="rubrik"> Webbpubliceringssystem </h1>

        <p class="container text">
            Webbpubliceringssystem är system som oftast gör det enklare att skapa och hantera innehåll på en hemsida. Två exempel på webbpubliceringssystem är Blosxom och Drupal.
            <br> <br>
            Blosxom är ett webbpubliceringssystem skrivet i skriptspråket Perl och hade sin senaste release 2008. Att det är ett system byggt endast för bloggar är inte särskilt förvånansvärt med tanke på att det fanns väldigt många bloggar just under början av 2000-talet.
            <br> <br>
            En sak som skiljer Blosxom från andra bloggsystem är att det lagrar filerna direkt på datorn istället för att använda sig av en databas. Det gör Blosxom mindre säkert än andra system eftersom man kommer åt hela datorn istället för bara filerna som ligger på databasen om man lyckas hacka sig igenom.
            <br> <br>
            Drupal används också för bloggar, däremot finns det flera andra typer av hemsidor som också använder det. Totalt sett är ungefär 2.3% av världens hemsidor byggda med Drupal. Drupal är skrivet i PHP och hade sin senaste release i maj 2019, vilket kan förklara varför det har fler användningsområden, eftersom bloggar har gått ner i popularitet mycket.
            <br> <br>
            Drupal använder sig av databaser för att lagra filer och har även en API som tillåter mer avancerade användare att få det att se ut lite mer som de vill. Drupal tillåter också för mindre avancerade användare att använda en enkel redigerare som kan skapa en hemsida med för flera olika syften.            
        </p>

        <h1 class="rubrik"> Läs vidare </h1>        

        <div class="navigation-blocks">
            <div class="nav-block nb-dark">
                <a href="/index.html">
                    <img src="/assets/WebbhistoriaLink.png" class="nav-block-image">
                    <div class="nav-block-text"> 
                        Tillbaka till startsidan
                    </div>
                </a>
            </div>
            <div class="nav-block nb-dark">
                <a href="/view/viktiga_handelser.html">
                    <img src="/assets/ViktigaHandelserLink.png" class="nav-block-image">
                    <div class="nav-block-text"> 
                        Här kan du läsa om hur olika delar inom internet har utvecklats, samt olika framgångar som har gjorts samt de första planerna på olika nätverk som kopplar samma alla världens länder.
                    </div>
                </a>
            </div>
            <div class="nav-block nb-dark">
                <a href="/view/utvekckling.html">
                    <img src="/assets/UtvecklingLink.png" class="nav-block-image">
                    <div class="nav-block-text"> 
                        Här kan du läsa om hur olika hemsidor har utvekclats och tankar om hur de kan utveckals i framtiden.
                    </div>
                </a>
            </div>
            <div class="nav-block gone">
                <a href="/view/principer.html">
                    <img src="/assets/PrinciperLink.png" class="nav-block-image">
                    <div class="nav-block-text"> 
                        Här kan du läsa om vad som bygger upp det internet som vi känner till samt olika Webbpubliceringssytem och lite om hur de arbetar.
                    </div>
                </a>  
            </div>
        </div>  
    </body>
    
    <script src="/js/theme.js"></script>
</html>