<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Webbsidors utveckling</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/style.css">
    </head>  
    <body class="dark">

        <img src="/assets/UtvecklingMain.png" class="startimage">

        <button onclick="changeTheme()" class="button theme-select">
            Byt Tema
        </button>
            
        
        <h1 class="rubrik"> Hur hemsidor har utvecklats </h1>

        <h2 class="rubrik2"> Aftonbladet </h2>

        <div class="container text">
            Aftonbladet har nästan alltid sett likadant ut. Sidan har utvecklats tillsammans med internet men behållit ungefär samma design. Aftonbladet-loggan högst upp, röd “navbar” med navigeringslänkar på vänster sida, fast med anpassat utseende som passar den generella designen som användes under den tiden. På senare år har mer fokus lagts på bilder för att fånga användarens intresse istället för text som man ska läsa. Det har blivit stora bilder med stora rubriker och inte en enda bit av ingressen som förr. 
            
            <div class="imgtext">
                <img src="/assets/Aftonbladet_Compare.png">
                Aftonbladet år 2019, 2012 och 2006.
            </div>

            Som man kan se har det även blivit mindre fokus på navigation och mer fokus på att man bara ska scrolla genom sitt flöde. På både sidan från 2006 och 2012 går det att se en tydlig navigationspanel på vänster sida. Detta skulle kunna kopplas samman med en tydlig skillnad i hur internet har skiftat över åren. Fler och fler tjänster går över till ett samlat flöde med allt de tycker kan vara intressant för just dig, ett anpassat flöde, helt enkelt. 
            <br> <br>
            En annan stor skillnad som går att se är mängden reklam som finns, där kan man se att dagens aftonbladet har betydligt mycket mer reklam i sin design. Utvecklingen har antagligen hänt för att få sidan att se mer modern ut, samt för att anpassa sig för att få in mer reklam på sidan när nyheter över internet är vanligare än på papper.
            
        </div>

        <h2 class="rubrik2"> Reddit </h2>

        <div class="container text">
            Reddit har ändrats både mycket och lite. Mycket i det sättet att det inte alls ser likadant ut som för 10 år sedan, men lite på det sättet att det egentligen bara har varit en stor förändring i utseendet sedan sidan skapades.
            <br> <br>
            Det ändrades från att vara i stort sett en lista med bilder till att vara mer lik vad man kan tänka sig en mobilapp ser ut som. Istället för att varje bild behövdes klickas på för att göra stor visas istället bilderna direkt stort i mitten. Det är en mer rymlig design som kan anses vara mer modern. 
            <br> <br>
            I framtiden kommer designen inte ändra sig så mycket men jag tror de skulle kunna få sidan att kännas lite mindre som en mobilsida på en stor skärm och mer som en vanlig webbsida, möjligtvis med exempelvis en navbar av någon typ på vänster sida så att man använder mer av skärmen istället för att lämna de yttre delarna blanka.

            <div class="imgtext">
                <img src="/assets/Reddit_Compare.png">
                reddit.com med den nya designen och old.reddit.com med den gamla desingen, 2019
            </div>

            Reddit har gjort någonting som jag inte vet om någon annan sida har gjort. Istället för att helt byta sidans design så har de lämnat den gamla designen som den var när de bytte för de som föredrog den. Den gamla designen kommer mest troligen inte att uppdateras medan den nya designen fortsätter blir förändrad när reddit bestämmer att det passar.

        </div>

        <h1 class="rubrik"> Läs vidare </h1>        

        <div class="navigation-blocks">
            <div class="nav-block nb-dark">
                <a href="/index.html">
                    <img src="/assets/WebbhistoriaLink.png" class="nav-block-image">
                    <div class="nav-block-text"> 
                        Tillbaka till startsidan
                    </div>
                </a>
            </div>
            <div class="nav-block nb-dark">
                <a href="/view/viktiga_handelser.html">
                    <img src="/assets/ViktigaHandelserLink.png" class="nav-block-image">
                    <div class="nav-block-text"> 
                        Här kan du läsa om hur olika delar inom internet har utvecklats, samt olika framgångar som har gjorts samt de första planerna på olika nätverk som kopplar samma alla världens länder.                        
                    </div>
                </a>
            </div>
            <div class="nav-block gone">
                <a href="/view/utvekckling.html">
                    <img src="https://wallpapercave.com/wp/WwAc1JL.jpg" class="nav-block-image">
                    <div class="nav-block-text"> 
                        Här kan du läsa om hur olika hemsidor har utvekclats och tankar om hur de kan utveckals i framtiden.
                    </div>
                </a>
            </div>
            <div class="nav-block nb-dark">
                <a href="/view/principer.html">
                    <img src="/assets/PrinciperLink.png" class="nav-block-image">
                    <div class="nav-block-text"> 
                        Här kan du läsa om vad som bygger upp det internet som vi känner till samt olika Webbpubliceringssytem och lite om hur de arbetar.
                    </div>
                </a>  
            </div>
        </div>  
    </body>
    
    <script src="/js/theme.js"></script>
</html>